<div
    class="section-out pt-0 bg-blue-800 block box-border h-[552.5px] z-0"
    style="min-height: auto;"
>
    <div
        class="section-inner justify-center pt-[180px] pb-0 flex relative bg-transparent"
        style="align-items: center; bottom: 0;"
    >
    </div>
</div>
